<div class="mt-5" align='center' style='margin-top:5em; margin-left:20%; margin-right:20%'>


<form [formGroup]="form"> 
  <h5> Ingresa </h5><br>

  <div class="form-group">
    <input type="text" class="form-control" id="username" placeholder="Nombre de usuario" formControlName="username">
  </div>
  
  <div class="form-group">
    <input type="text" class="form-control" id="password" placeholder="Contraseña" formControlName="password">
  </div>
  <p  align='left'>
  	<a href="#"> Olvidé mi contraseña </a>
  	<br>
  	<a href="#"> Regístrate </a> 
  </p>
  <br>
    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
</form>

<br><br>
<hr>
<br>

<button type="submit" class="btn btn-primary">Soy Productora cultural</button>

</div>
<br><br>