<form [formGroup]="form">
	Fecha: <input type="date">
	
<br><br>
 Tipo de evento: <select>
  <option value="volvo">Cine</option>
  <option value="saab">Musica</option>
  <option value="mercedes">Deportes</option>
  <option value="audi">Danza</option>
</select> 
 <br><br>

Imagen: <input type="file" name="myFile">
<br><br>
Nombre del lugar: <input type="text">
<br>
Direccion: <input type="text">
<br><br>
Hashtags: <input type="text" placeholder="#hashtag1 #hashtag2">
<br><br>
Email descriptivo
 <textarea rows="4" cols="50"></textarea> 
</form>

